<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @author.fname + " " + @author.lname %>
        <span class="custom-panel-icon">
            <%= link_to '', edit_author_path(@author), class:"pull-right glyphicon glyphicon-pencil"%>
        </span>
    </h3>

  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-sm-4">
              <% if not @author.thumbnail.blank? %>
              <img src="<%= @author.thumbnail %>" alt='<%= @author.fname + " " + @author.lname %>' />
              <% end %>
          </div>
          <div class="col-sm-4">
              <span>
                <strong>Email:</strong>
                <%= @author.email %>
              </span>
          </div>
      </div>
  </div>
</div>
